@media screen and (max-width:992px){
    
    #quienes img{
        min-width:365px;
        height:260px;
    }
    #quienes article{
        width:40%;
        padding-left:20px;
    }
    #filosofia{
        text-align:center;
    }
    .proy{
        width: 48%;
        margin-bottom:3%;
    }


    .separar-nulo{
        margin:5px 0px;
        margin-left:0%;

     }
     .separar-izq{
        margin-left:3%;
        margin:0px 0px 
     }
     .imgs{
         width:380px;
         height:290px;
     }
     .separar-der{
        margin-right:3%;
     }
    .proy img{
        height: 160px;
    }
    #proyectos h1{
        font-size:2.5rem;
    }
    #menuPrincipal{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .displays{
        width: 99%;
        height: 150px;
        margin: 10px 2px;
        display: block;
        background-color: #127681;
        align-content: center;
        margin:0px -1px;
      }
      .disp-c{
        display: block;
        text-align: center;
        align-content: center;
        margin:10px auto;
        width:80%;
    }
    iframe{
        width:99%;
        height:420px;
    }
}