@media screen and (max-width:768px){
   html{
       font-size:14px;
   }
   header{
       background-color:#000;
   }
   #nombre{
       color:#fff;
   }
    #menu-ham{
        width:60%;
        min-width:100px;
        display:inline-block;
        vertical-align:middle;
        text-align:right;
        
    }

    #abrir-ham{
        display:inline-block;
    }
    #menuPrincipal{
        height: 0px;
        width:90%;
        overflow:hidden;
    }
    #cabecera:target #abrir-ham{
        display:none;
    }
    #cabecera:target #cerrar-ham{
        display:inline-block;
    }
    #cabecera:target #menuPrincipal{
        height:150px;
    }
    .opcion{
        width:100%;
        text-align:left;
    }
    #quienes img, #quines article{
        width:100%;
        display: block;
    }
    #quienes img{
        min-width:auto;
        height:auto;
    }
    #quienes article{
        padding-top:20px;
        text-align:center;
    }
   #quienes a{
       margin:0px auto;
   }
   #empresa{
       display:inline-block;
   }
   #logotipo{
       display:inline-block;
   }
    #quienes p{
        display:none;
    }
    #filosofia{
        text-align:center;
    }

    #filosofia p{
        font-size:1rem;
        line-height: 1rem;
    }
    #filosofia h2{
        font-size:1.2rem;
    }
    footer{
        text-align:center;
    }
  #proyectos{
      text-align:center;

  }
  .proy{
      width:80%;
     margin-bottom:3%;
  }

  .proy img{
      height:260px ;
  }
  .seprar-izq-nulo{
      margin-left:0px;
  }

  .disp-c{
      display: block;
      text-align: center;
      align-content: center;
      margin:10px auto;
  }
  iframe{
      width:99%;
      height:280px;
  }
 .redes{
     text-align:center;
     margin:0px 3px;
     font-size:5px;
 }
 .opcion:hover{
    color: rgb(255, 249, 249);
}
}